<app-banner>
    <h1 class="quote fw-bold lh-base">A man only learns in two ways, one by reading and the other by association with smart people</h1>
    <div class="author text-center mt-3"><h4 style="color: #0015fb;">- Will Rogers</h4></div>
    <img class="image" src="../../assets/images/programs-1.png" width="75%" alt="">
</app-banner>
<div class="container px-3 px-lg-5 pt-5 pb-4">
    <article>
        <section class="mb-4">
            <h4>PTE (Pearson Test of Engineering)</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                The Pearson Test of Engineering (PTE) is an English language proficiency test primarily designed for non-native 
                English speakers who wish to study abroad in English-speaking countries or seek employment in 
                English-speaking workplaces. It is recognized by many universities and colleges, as well as governments 
                and professional organizations. The PTE is not a test of engineering knowledge; rather, it evaluates your English 
                language skills.          
            </p>
        </section>
        <section class="mb-4">
            <h4>Key points about the PTE</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                The PTE Academic exam consists of four main sections: Speaking and Writing: Assesses your ability to express 
                ideas and opinions verbally and in writing.
            </p>
            <p>
                Reading: Measures your reading comprehension skills.
            </p>
            <p>
                Listening: Evaluates your ability to understand spoken English in various contexts.
            </p>
            <p>
                The PTE Academic is a computer-based test, which means you will take the exam on a computer at a 
                Pearson test center. It is entirely computerized, and your responses are recorded and assessed by a 
                computer program.
            </p>
            <p>
                PTE Academic is scored on a scale of 10-90 points. It provides a detailed score report, including scores for 
                individual skills (listening, reading, speaking, writing) and an overall score.
            </p>
            <p>
                The PTE Academic test is known for its use of real-life scenarios. It includes tasks such as summarizing spoken text,
                answering multiple-choice questions, essay writing, and more.
            </p>
            <p>
                PTE Academic typically provides results within a few business days, making it a popular choice for those with 
                tight application deadlines.
            </p>
            <p>
                Preparation for the PTE Academic test typically involves studying English language skills, taking practice tests, 
                and familiarizing yourself with the test format. There are various official and unofficial resources available to help 
                you prepare for the exam.Before taking the PTE Academic, it's essential to check the specific language proficiency 
                requirements of the educational institution or organization you plan to apply to, as they may have specific score 
                requirements or preferences for English language tests.
            </p>

        </section>
    </article>
</div>