<app-banner>
    <h1 class="quote fw-bold lh-base">Education is one thing no one can take away from you</h1>
    <div class="author text-center mt-3">
        <h4 style="color: #0015fb;">- Elin Nordegren</h4>
    </div>
    <img class="image" src="../../assets/images/careers-1.png" width="100%" alt="">
</app-banner>

<div class="container px-3 pb-lg-2 mb-4 mt-5">
    <section>
        <div class="text-start mb-4">
            <h4 class="fw-medium">Begin your career with us</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
        </div>

        <p>Embarking on a successful career begins with us, where we prioritize and nurture your academic aspirations.
            Our comprehensive learning programs focus on empowering individuals to excel in their academic pursuits,
            particularly in crucial examinations such as IELTS, GRE, and GMAT. These standardized tests play a pivotal
            role in shaping one's educational journey, opening doors to global opportunities and advancing professional
            prospects. At our institution, we provide tailored courses designed to enhance your skills and knowledge,
            equipping you with the tools needed to confidently tackle these exams. Our dedicated faculty and
            cutting-edge resources ensure a supportive learning environment, fostering not only exam success but also
            the development of critical thinking and problem-solving abilities. Join us on the path to success, where
            your educational journey begins, and your future career takes flight.</p>

        <div class="text-center">
            <h4 class="fw-medium">Our Mission - Keep Learning</h4>
            <div class="d-flex mb-3 justify-content-center">
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
        </div>

        <p>At Success Learning, our mission is rooted in the belief that continuous education is the key to personal and
            professional growth. We are dedicated to fostering a learning environment where individuals can thrive and
            excel in their academic pursuits. Our primary focus is on providing high-quality content tailored to the
            rigorous standards of exams such as IELTS, GRE, and GMAT. We understand the significance of these tests in
            unlocking doors to higher education and career opportunities. Therefore, our commitment lies in equipping
            our learners with the knowledge, strategies, and skills necessary to not only meet but exceed the challenges
            posed by these examinations. Through innovative teaching methods, comprehensive study materials, and a
            supportive community, we strive to empower our students to embrace learning as a lifelong journey. Success
            Learning is not just a destination; it's a continuous expedition towards academic excellence and personal
            success.</p>

        <div class="text-start my-4">
            <h4 class="fw-medium">Job Boards</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-6">
                <p>Job boards that feature content related to IELTS, GRE, and GMAT provide a valuable platform for
                    individuals seeking to improve their language proficiency and academic skills. For those aiming to
                    pursue higher education or secure positions that require strong analytical and quantitative
                    abilities, these tests are crucial benchmarks. Access to relevant information, study materials, and
                    practice resources on job boards facilitates effective preparation for these exams, empowering
                    individuals to demonstrate their proficiency and readiness for academic and professional challenges.
                </p>
                <!-- <div class="d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                    <button class="btn btn-primary" type="button">Apply for Jobs</button>
                </div> -->
            </div>
            <!-- <div class="col-lg-1"></div> -->
            <div class="col-lg-6 text-center">
                <img src="../../assets/images/careers-1.png" width="80%" alt="" srcset="">
            </div>
        </div>

        <div class="text-center my-4">
            <h4 class="fw-medium">Join our Team</h4>
            <div class="d-flex mb-3 justify-content-center">
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
        </div>

        <p>Joining our team is an exciting opportunity for individuals passionate about success in language proficiency
            and standardized testing. At our learning center, we prioritize excellence in IELTS, GRE, GMAT, spoken
            English, and a wide array of related subjects. We believe in fostering an environment where students not
            only achieve their desired scores but also develop a deep understanding of the nuances of language and
            test-taking strategies. As a team member, you will contribute to shaping the learning experiences of our
            students, helping them reach new heights in their academic and professional pursuits. With a collaborative
            spirit and a commitment to continuous improvement, our team is dedicated to empowering individuals to excel
            in their language and standardized testing goals. Join us as we make a positive impact on the educational
            journey of our students and collectively strive for success.</p>

        <div class="row row-cols-1 row-cols-md-3 d-flex justify-content-center mt-2 mb-5 ">

            <div class="col-9 col-md-4 mt-3 custom-card-height">
                <div class="card h-100 justify-content-center ">
                    <div class="card-body">
                        <h6 class="text-center mt-4"> Academics </h6>
                        <p class="text-center mt-3 px-2 " id="card-para"> Bring teaching expertise to builduing powerful
                            learning journey for students </p>
                    </div>
                </div>
            </div>

            <div class="col-9 col-md-4 mt-3 custom-card-height ">
                <div class="card  h-100 justify-content-center">
                    <div class="card-body">
                        <h6 class="text-center mt-4 "> Career Development Associate </h6>
                        <p class="text-center mt-3 px-2 " id="card-para"> Grow, promote and position the buisness as a
                            global leader </p>
                    </div>
                </div>
            </div>

            <div class="col-9 col-md-4 mt-3 custom-card-height ">
                <div class="card h-100 justify-content-center">
                    <div class="card-body">
                        <h6 class="text-center mt-4"> Content </h6>
                        <p class="text-center mt-3 px-2" id="card-para"> Develop exceptional content through progressive
                            pedogogy </p>
                    </div>
                </div>
            </div>

            <!--row end-->
        </div>

        <!-- <div class="text-start my-4">
            <h4 class="fw-medium">Successful Career Transition to Inspire You</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
        </div>

        <div class="mt-3">
            <div class="row row-cols-1 row-cols-md-3 d-flex justify-content-center align-items-center text-center py-3">
                <div class="col-8 mb-3 mb-md-0 ">
                    <div class="card d-flex justify-content-center align-items-center" id="peoplecard">
                        <img src="../../assets/images/person-icon.jpg" class="border-rounded mt-2" alt="" srcset=""
                            style="width: 50px; height: 50px;">
                        <h6 class="mt-2">First Name</h6>
                        <p>Company</p>
                    </div>
                </div>
                <div class="col-8 mb-3 mb-md-0 ">
                    <div class="card d-flex justify-content-center align-items-center" id="peoplecard">
                        <img src="../../assets/images/person-icon.jpg" class="border-rounded mt-2" alt="" srcset=""
                            style="width: 50px; height: 50px;">
                        <h6 class="mt-2">First Name</h6>
                        <p>Company</p>
                    </div>
                </div>
                <div class="col-8 mb-3 mb-md-0 ">
                    <div class="card d-flex justify-content-center align-items-center" id="peoplecard">
                        <img src="../../assets/images/person-icon.jpg" class="border-rounded mt-2" alt="" srcset=""
                            style="width: 50px; height: 50px;">
                        <h6 class="mt-2">First Name</h6>
                        <p>Company</p>
                    </div>
                </div>
            </div>
        </div> -->

    </section>
</div>