<app-banner>
    <h1 class="quote fw-bold lh-base">A man only learns in two ways, one by reading and the other by association with smart people</h1>
    <div class="author text-center mt-3"><h4 style="color: #0015fb;">- Will Rogers</h4></div>
    <img class="image" src="../../assets/images/programs-1.png" width="75%" alt="">
</app-banner>
<div class="container px-3 px-lg-5 pt-5 pb-4">
    <article>
        <section class="mb-4">
            <h4>DET (Duolingo English Test)</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                The Duolingo English Test is an online English language proficiency test used for college admissions, university 
                applications, and job applications. It is designed to assess a person's English language skills, including reading, 
                writing, listening, and speaking.             
            </p>
        </section>
        <section class="mb-4">
            <h4>Key points about the DET</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                The Duolingo English Test is entirely computer-based and can be taken from anywhere with a stable internet 
                connection and a webcam. It includes sections for reading, writing, listening, and speaking.
            </p>
            <p>
                The test is scored on a scale of 10 to 160 points, and it provides a detailed score report, which includes scores for 
                each of the four skills (reading, writing, listening, speaking) and an overall score.
            </p>
            <p>
                The speaking section requires candidates to record responses to spoken and written prompts, which are then 
                assessed by certified human raters.
            </p>
            <p>
                The Duolingo English Test provides instant results, and the score report is typically available to the candidate 
                within 48 hours.
            </p>
            <p>
                The Duolingo English Test is accepted by many educational institutions and organizations around the world, 
                including universities in the United States, Canada, the United Kingdom, and other countries.
            </p>
            <p>
                The Duolingo English Test is known for its accessibility, as it can be taken from the comfort of one's home, 
                and it provides a cost-effective option for assessing English language proficiency. It has become increasingly 
                popular, especially during times when in-person testing options may be limited.
            </p>
            <p>
                If you plan to take the Duolingo English Test for academic or professional purposes, it's essential to check the 
                specific language proficiency requirements of the institution or organization you are applying to, as they may 
                have specific score requirements or preferences for English language tests.
            </p>

        </section>
    </article>
</div>