<app-banner>
  <h1 class="quote fw-bold lh-base">A man only learns in two ways, one by reading and the other by association with smart people</h1>
  <div class="author text-center mt-3"><h4 style="color: #0015fb;">- Will Rogers</h4></div>
  <img class="image" src="../../assets/images/germany-flag.jpg" width="75%" alt="">
</app-banner>
<div class="container px-3 px-lg-5 pt-5 pb-4">
  <article>
      <section class="mb-4">
          <h4>
            SG (Spoken German)
          </h4>
          <div class="d-flex mb-3">
              <span class="rounded-pill" id="line"></span>
              <span class="rounded-pill" id="dot"></span>
              <span class="rounded-pill" id="dot"></span>
          </div>
          <p>
              A spoken German course is designed to help individuals improve their conversational German language skills.
              These courses are particularly useful for non-native German speakers who want to enhance their ability to
              communicate effectively in German, whether for professional, educational, or personal reasons.
          </p>
      </section>
      <section class="mb-4">
          <h4>Key points about the SG</h4>
          <div class="d-flex mb-3">
              <span class="rounded-pill" id="line"></span>
              <span class="rounded-pill" id="dot"></span>
              <span class="rounded-pill" id="dot"></span>
          </div>
          <p>
            Career Opportunities: Germany is the largest economy in Europe and has a strong job market. Learning German can open up job opportunities in various fields, especially if you plan to work in or with German-speaking countries. Many multinational companies also require employees who can speak German.
          </p>

          <p>
            Global Influence: German is one of the most widely spoken languages in the world, and Germany is a global leader in fields such as engineering, science, and technology. Learning German can help you access a vast amount of academic and professional resources.
          </p>

          <p>
            Travel: Germany is a popular tourist destination with a rich cultural heritage. Learning German can enhance your travel experiences by allowing you to communicate with locals and better understand the country's history and culture.
          </p>

          <p>
            Education: Germany is known for its high-quality education system, and many universities offer programs in English. However, knowing German can be a significant advantage if you plan to study in Germany or at a German-speaking institution.
          </p>

          <p>
            Cultural Appreciation: Learning German can provide you with a deeper appreciation of German literature, music, philosophy, and cinema. Many influential works in these fields are originally in German.
          </p>

          <p>
            Communication: Knowing German can help you communicate with the 90+ million native German speakers around the world. It can also be a valuable asset when dealing with German-speaking communities in countries like Austria and Switzerland.
          </p>

          <p>
            Networking: Learning a language often comes with the opportunity to meet and connect with people from different backgrounds. German-speaking communities exist worldwide, and being part of them can create valuable personal and professional connections.
          </p>

          <p>
            Brain Benefits: Learning a new language has cognitive benefits, such as improved memory, problem-solving skills, and multitasking abilities. It can also delay the onset of age-related cognitive decline.
          </p>

          <p>
            Increased Cultural Understanding: Learning a language often leads to a better understanding of the culture associated with it. You'll gain insights into German traditions, customs, and ways of thinking.
          </p>

          <p>
            EU Opportunities: Germany is a key player in the European Union. Knowing German can be advantageous if you're interested in EU-related careers or want to engage with EU institutions.
          </p>

          <p>
            Business and Trade: Germany is a major player in international business and trade. Learning German can be beneficial if you work in international trade or business relations.
          </p>
      </section>
  </article>
</div>
