<app-banner>
    <h1 class="quote fw-bold lh-base">A man only learns in two ways, one by reading and the other by association with smart people</h1>
    <div class="author text-center mt-3"><h4 style="color: #0015fb;">- Will Rogers</h4></div>
    <img class="image" src="../../assets/images/programs-1.png" width="75%" alt="">
</app-banner>
<div class="container px-3 px-lg-5 pt-5 pb-4">
    <article>
        <section class="mb-4">
            <h4>GMAT (Graduate Management Admission Test)</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                The GMAT, or Graduate Management Admission Test, is a standardized test used for admissions into graduate 
                business and management programs, primarily MBA (Master of Business Administration) programs. The GMAT 
                assesses a test-taker's abilities  in various areas related to business and management. The GMAT is administered 
                online and in standardized test centers in 114 countries around the world. The number of test-takers of GMAT 
                plummeted from 2012 to 2021 as more students opted for an MBA programs that didn't require the GMAT.
            </p>
        </section>
        <section class="mb-4">
            <h4>Who can take the GMAT test?</h4>
            <div class="d-flex mb-3">
                <span cblass="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                There are no particular academic qualifications specified for GMAT takers. Most of the GMAT aspirants are either 
                graduate or studying in final year of graduation, or working professionals. It is noteworthy that regardless of your 
                graduation stream or other academic qualifications, you can go for the exam.
            </p>
        </section>
        <section class="mb-4">
            <h4>What is GMAT exam used for?</h4>
            <div class="d-flex mb-3">
                <span cblass="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                The Graduate Management Admission Test is a graduate admissions entrance exam designed specifically for 
                students who want to go to graduate school for business. A GMAT score is often required when submitting a 
                graduate program application for an MBA, Master of Accountancy, or Master of Finance.
            </p>
        </section>
        <section class="mb-4">
            <h4>Key points about the GMAT</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                1. Sections: The GMAT consists of four main sections: <br>
                - Analytical Writing Assessment (AWA): Requires test-takers to write an essay analyzing an argument. This 
                section measures critical thinking and analytical writing skills. <br>
                - Integrated Reasoning (IR): Assesses the ability to integrate data from various sources, including graphs, 
                tables, and text, to solve complex problems. <br>
                - Quantitative Reasoning: Tests mathematical and quantitative skills, including data sufficiency and problem-
                solving. <br>
                - Verbal Reasoning: Measures reading comprehension, critical reasoning, and sentence correction skills. <br>
            </p>
            <p>
                2. Scores: The GMAT is scored on a scale of 200 to 800, in 10-point increments. The AWA section is scored 
                separately on a scale of 0 to 6, in half-point increments.
            </p>
            <p>
                3. Test Format: The GMAT is administered in a computer-based format. Test-takers receive unofficial scores for 
                the verbal and quantitative sections immediately after completing the test, while official scores, including AWA and IR, are available later.
            </p>
            <p>
                4. Registration: You can register for the GMAT online through the official GMAT website. You'll need to create a 
                GMAT account, select a test date and location, and pay the registration fee.
            </p>
            <p>
                5. Preparation: Many test-takers prepare for the GMAT by using study materials, taking practice tests, and 
                potentially enrolling in test preparation courses. There are various test prep books, online resources, and courses available to help you prepare.
            </p>
            <p>
                Preparing for the GMAT requires a combination of test-taking strategies and content knowledge. You should 
                research the admission requirements of the business schools you plan to apply to and tailor your preparation accordingly. 
                Good luck with your  GMAT preparations and test-taking!
            </p>
        </section>
    </article>
</div>