<app-banner>
    <h1 class="quote fw-bold lh-base">A man only learns in two ways, one by reading and the other by association with smart people</h1>
    <div class="author text-center mt-3"><h4 style="color: #0015fb;">- Will Rogers</h4></div>
    <img class="image" src="../../assets/images/programs-1.png" width="75%" alt="">
</app-banner>
<div class="container px-3 px-lg-5 pt-5 pb-4">
    <article>
        <section class="mb-4">
            <h4>IELTS (International English Language Testing System)</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                The International English Language Testing System is an international standardized test of English language 
                proficiency for non-native English language speakers. It is jointly managed by the British Council, IDP: IELTS 
                Australia and Cambridge Assessment English,[6] and was established in 1989. IELTS is one of the major English
                Language tests in the world. There are two modules and an additional test.
            </p>
        </section>
        <section class="mb-4">
            <h4>What is the IELTS test for?</h4>
            <div class="d-flex mb-3">
                <span cblass="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                IELTS Academic - is designed to measure your English language proficiency and to assess if it is suitable for an 
            academic environment. The test reflects aspects of academic language and evaluates whether you're ready to 
            begin training or studying in English.
        </section>
        <section class="mb-4">
            <h4>Who is eligible for IELTS test?</h4>
            <div class="d-flex mb-3">
                <span cblass="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                The only eligibility for the IELTS exam in India and across the globe is that a candidate needs to be at least 16 years. 
                Anybody aged 16 or above can take this examination, irrespective of their gender, nationality, or background. 
                Exceptions are only made when a school needs the IELTS scores for admission purposes.
        </section>
        <section class="mb-4">
            <h4>Key points about the IELTS</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                Purpose: IELTS is designed to assess the English language proficiency of non-native English speakers who want to study, work, or migrate to English-speaking countries.
            </p>
            <p>
                Types of IELTS: There are two main types of IELTS exams:
            </p>
            <p>
                IELTS Academic: Designed for individuals seeking admission to higher education institutions and professional registration in English-speaking countries. <br>
                IELTS General Training: Primarily used for immigration, work, and training programs. It is also suitable for candidates planning to study at below-degree level. <br>
                Sections: Both IELTS types have four components, which evaluate different language skills:
            </p>
            <p>
                Listening: Assessing the ability to understand spoken English in various contexts. <br>
                Reading: Evaluating reading comprehension skills using academic or everyday texts. <br>
                Writing: Testing the ability to express ideas in written form through essays, reports, or letters. <br>
                Speaking: Evaluating the ability to communicate verbally, express opinions, and engage in a conversation with an examiner. <br>
                Score Range: IELTS scores are reported on a 0-9 band scale for each component, and an overall band score is calculated as the average of the four component scores. Different institutions and organizations may have specific band score requirements.
            </p>
        </section>
    </article>
</div>