<app-banner>
    <h1 class="quote fw-bold lh-base">A man only learns in two ways, one by reading and the other by association with smart people</h1>
    <div class="author text-center mt-3"><h4 style="color: #0015fb;">- Will Rogers</h4></div>
    <img class="image" src="../../assets/images/programs-1.png" width="75%" alt="">
</app-banner>
<div class="container px-3 px-lg-5 pt-5 pb-4">
    <article>
        <section class="mb-4">
            <h4>GRE (Graduate Record Examination)</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                The GRE, or Graduate Record Examination, is a standardized test used for admissions into graduate and business 
                programs in many English-speaking countries, including the United States. It assesses skills in verbal reasoning, 
                quantitative reasoning and analytical writing. The content of the GRE consists of certain specific data analysis or 
                interpretation, arguments and reasoning, algebra, geometry, arithmetic, and vocabulary sections. The General
                Test is offered as a computer-based exam administered at testing centers and institution owned or authorized 
                by Prometric.            
            </p>
        </section>
        <section class="mb-4">
            <h4>Who can take the GRE test?</h4>
            <div class="d-flex mb-3">
                <span cblass="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                Anyone with a bachelor's degree is eligible to take the GRE in India. There's no age limit to sit for the GRE. English 
                fluency is necessary to ace the exam as there are writing and reasoning sections. However, if a candidate is not 
                an expert in English, they can still be eligible to appear in the exam.
            </p>
        </section>
        <section class="mb-4">
            <h4>Key points about the GRE</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                1. Sections: The GRE consists of three main sections: <br>
                - Verbal Reasoning: Measures your ability to analyze and evaluate written material and synthesize information. <br>
                - Quantitative Reasoning: Tests your mathematical skills, including arithmetic, algebra, geometry, and data 
                analysis. <br>
                - Analytical Writing: Involves writing two essays—an Issue task and an Argument task. These essays assess your 
                ability to present and evaluate arguments. <br>
            </p>
            <p>
                2. Scores: Each section of the GRE is scored separately, with a maximum score of 170 for both the Verbal and 
                Quantitative Reasoning 
                sections. The Analytical Writing section is scored on a scale of 0 to 6 in half-point increments.
            </p>
            <p>
                3. Test Format: The GRE is typically administered in a computer-based format, but paper-based testing is 
                available in areas where 
                computer-based testing isn't feasible.
            </p>
            <p>
                4. Registration: You can register for the GRE online through the Educational Testing Service (ETS) website. You'll 
                need to select a test 
                date and location, pay the registration fee, and create a GRE account.
            </p>
            <p>
                5. Preparation: Many test-takers prepare for the GRE by using study materials, taking practice tests, and 
                potentially enrolling in test 
                preparation courses. There are various test prep books, online resources, and courses available to help you 
                prepare.  
            </p>
            <p>
                Before taking the GRE, it's important to research the requirements of the graduate programs you are applying to, 
                as different programs  may have specific score expectations. Additionally, consider your own strengths and 
                weaknesses to determine which areas of the test  you should focus on during your preparation. Good luck with 
                your GRE preparations and test-taking!         
            </p>
        </section>
    </article>
</div>