<app-banner>
    <h1 class="quote fw-bold lh-base">A man only learns in two ways, one by reading and the other by association with smart people</h1>
    <div class="author text-center mt-3"><h4 style="color: #0015fb;">- Will Rogers</h4></div>
    <img class="image" src="../../assets/images/programs-1.png" width="75%" alt="">
</app-banner>
<div class="container px-3 px-lg-5 pt-5 pb-4">
    <article>
        <section class="mb-4">
            <h4>TOFL (Test of English as a Foreign Language)</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit et a suscipit commodi nisi, nihil, quas rem ea veritatis, ut totam quae ipsum sunt consequatur error impedit libero earum aperiam dignissimos. Assumenda magnam atque quasi rerum harum ullam ex quas et necessitatibus hic eius voluptate omnis recusandae perspiciatis, doloribus dignissimos provident accusantium at dolorem dolorum nobis eum repellat earum distinctio? Dolorum, itaque? Neque fugit, magnam suscipit eos voluptate a ipsa, odit consequuntur odio possimus vero nam magni reprehenderit animi assumenda quasi exercitationem incidunt quod deserunt natus id minus quo? Voluptate in omnis maxime repellat est laudantium quasi nulla qui sed.
            </p>
        </section>
        <section class="mb-4">
            <h4>What is the TOEFL test for?</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, nisi nulla minus doloribus recusandae ipsum accusantium incidunt dolor architecto, quas cumque ab repudiandae amet labore, perspiciatis assumenda consectetur deserunt necessitatibus. Porro eaque repellat qui sapiente suscipit nulla, sunt labore quibusdam officiis autem amet. Et aut quia sit labore nemo harum, debitis delectus cupiditate autem tempora reprehenderit voluptas. Ab, ut, officiis praesentium fuga earum odio soluta reiciendis odit perspiciatis quam, quis cumque voluptatibus provident autem tempora.
            </p>
        </section>
        <section class="mb-4">
            <h4>Who is eligible for TOEFL test?</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, nisi nulla minus doloribus recusandae ipsum accusantium incidunt dolor architecto, quas cumque ab repudiandae amet labore, perspiciatis assumenda consectetur deserunt necessitatibus. Porro eaque repellat qui sapiente suscipit nulla, sunt labore quibusdam officiis autem amet. Et aut quia sit labore nemo harum, debitis delectus cupiditate autem tempora reprehenderit voluptas. Ab, ut, officiis praesentium fuga earum odio soluta reiciendis odit perspiciatis quam, quis cumque voluptatibus provident autem tempora.
            </p>
        </section>
        <section class="mb-4">
            <h4>Key points about the TOEFL</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi ex, voluptate omnis culpa adipisci? Earum iure aliquid architecto dolorem amet tempora maxime, molestias odio dolore saepe quas libero fugit velit rerum sed aut quo, sunt ducimus dolor! At suscipit eum blanditiis iusto atque eaque, voluptas ipsum qui et vitae.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi ex, voluptate omnis culpa adipisci? Earum iure aliquid architecto dolorem amet tempora maxime, molestias odio dolore saepe quas libero fugit velit rerum sed aut quo, sunt ducimus dolor! At suscipit eum blanditiis iusto atque eaque, voluptas ipsum qui et vitae.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi ex, voluptate omnis culpa adipisci? Earum iure aliquid architecto dolorem amet tempora maxime, molestias odio dolore saepe quas libero fugit velit rerum sed aut quo, sunt ducimus dolor! At suscipit eum blanditiis iusto atque eaque, voluptas ipsum qui et vitae.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi ex, voluptate omnis culpa adipisci? Earum iure aliquid architecto dolorem amet tempora maxime, molestias odio dolore saepe quas libero fugit velit rerum sed aut quo, sunt ducimus dolor! At suscipit eum blanditiis iusto atque eaque, voluptas ipsum qui et vitae.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi ex, voluptate omnis culpa adipisci? Earum iure aliquid architecto dolorem amet tempora maxime, molestias odio dolore saepe quas libero fugit velit rerum sed aut quo, sunt ducimus dolor! At suscipit eum blanditiis iusto atque eaque, voluptas ipsum qui et vitae.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi ex, voluptate omnis culpa adipisci? Earum iure aliquid architecto dolorem amet tempora maxime, molestias odio dolore saepe quas libero fugit velit rerum sed aut quo, sunt ducimus dolor! At suscipit eum blanditiis iusto atque eaque, voluptas ipsum qui et vitae.
            </p>

        </section>
    </article>
</div>