<div class="background">
    <div class="container pt-5 p-lg-0 pb-4 min-vh-100">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center">
                <h2 class="my-3">Welcome to</h2>
                <div class="logo mb-5">
                    <div class="border border-3 border-secondary-subtle rounded-circle bg-light mx-auto" style="width: 100px; height: 100px;"></div>
                </div>
                <div class="d-none d-lg-block">
                    <p class="text-center fw-medium">
                        <a routerLink="/signup">Don't Have Account ? Sign up</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 px-4">
                <div class="card shadow border-0" style="border-radius: 10px">
                    <div class="card-body p-4">
                        <h3 class="text-center mb-5">Login your account</h3>
                        <form action="">
                            <div class="email mb-4">
                                <label class="d-block fw-medium mb-2" for="email">E-mail Address</label>
                                <input type="email" placeholder="Enter your email" id="email" name="email">
                            </div>
                            <div class="email mb-5">
                                <label class="d-block fw-medium mb-2" for="email">Password</label>
                                <input type="email" placeholder="Enter your password" id="email" name="email">
                            </div>
                            <div class="text-center mb-4">
                                <button class="btn text-white fw-medium rounded-pill px-5" routerLink="" type="button">Login</button>
                            </div>
                            <div class="d-lg-none">
                                <p class="text-center fw-medium">
                                    <a>Don't Have Account ? Sign up</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>