<app-banner>
    <h1 class="quote fw-bold lh-base">A man only learns in two ways, one by reading and the other by association with smart people</h1>
    <div class="author text-center mt-3"><h4 style="color: #0015fb;">- Will Rogers</h4></div>
    <img class="image" src="../../assets/SVGs/uk-flag.svg" width="75%" alt="">
</app-banner>
<div class="container px-3 px-lg-5 pt-5 pb-4">
    <article>
        <section class="mb-4">
            <h4>
              SE (Spoken English)
            </h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                A spoken English course is designed to help individuals improve their conversational English language skills.
                These courses are particularly useful for non-native English speakers who want to enhance their ability to
                communicate effectively in English, whether for professional, educational, or personal reasons.
            </p>
        </section>
        <section class="mb-4">
            <h4>Key points about the SE</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
            <p>
                Spoken English courses come in various formats, including in-person classes, online courses, and self-study
                resources. You can choose the format that best suits your needs and schedule.
            </p>
            <p>
                The content of a spoken English course typically includes vocabulary building, pronunciation, listening and
                speaking exercises, and conversations in real-life situations. Courses may focus on different accents, idiomatic
                expressions, and business English if required.
            </p>
            <p>
                The duration of spoken English courses varies. Some may be short-term, while others are more extensive.
                It's essential to consider how much time you can commit to the course.
            </p>
            <p>
                Effective spoken English courses emphasize practice and interaction. They may include speaking exercises,
                group discussions, and role-playing to help you gain confidence in using English.
            </p>
            <p>
                Look for courses that provide feedback on your progress and assess your language skills. This feedback
                can be invaluable for improvement.
            </p>
        </section>
    </article>
</div>
