<app-banner>
    <h1 class="quote fw-bold lh-base">An investment in knowledge pays the best interest</h1>
    <div class="author text-center mt-3">
        <h4 style="color: #0015fb;">- Benjamin Franklin</h4>
    </div>
    <img class="image" src="../../assets/images/about-us.png" width="100%" alt="">
</app-banner>

<div class="container mt-3 mb-3">

    <section>

        <!--heading-->
        <div class="text-start ps-1 ps-lg-0">
            <h4 class="fw-medium">About Success Learning</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
        </div>

        <!--about-->
        <div class="row row-cols-1 row-cols-md-2 mt-5 px-1 px-lg-0">

            <div class="col col-md-5">
                <div class=" img-fluid about-image text-center">
                    <img src="../../assets/images/about-pic.jpg" class="img-thumbnail img-fluid rounded" alt="Class room" width="85%">
                </div>
            </div>

            <div class="col col-md-7 pt-3 pt-lg-0">
                <p style="text-align: justify;">At Success Learning, our comprehensive program is designed to cater to diverse
                    educational needs, providing a well-rounded approach to success. Our curriculum encompasses a range
                    of specialized courses, with a primary focus on internationally recognized proficiency exams such as
                    IELTS, GRE, and GMAT. Whether you're aspiring to pursue higher education or enhance your career
                    prospects, our expertly crafted courses ensure that you are well-prepared to excel in these
                    standardized tests. In addition to exam preparation, we also offer dynamic spoken English classes,
                    fostering effective communication skills for real-world success. Our commitment to excellence
                    extends beyond the typical classroom experience, as we continually adapt our programs to meet
                    evolving educational standards. At Success Learning, we empower our students with the knowledge and
                    skills needed to achieve their academic and professional goals.</p>
            </div>

        </div>


        <!--mission, vision, 5 score-->
        <div class="row row-cols-1 row-cols-md-3 d-flex justify-content-center mt-3 ">

            <div class="col-10 col-md-4 mt-3  custom-card-height">
                <div class="card h-100 py-3">
                    <div class="ms-2">
                        <img src="../../assets/images/target.png" class="img-fluid img-thumbnail "
                            style="width: 30px;height: 30px;" alt="" srcset="">
                        <span class="ms-2" id="heading5">Mission</span>
                    </div>
                    <div class="text-start mt-4 px-3 ">
                        <p>
                            Enabling great oppurtunities for students through the highest quality products.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-10 col-md-4 mt-3  custom-card-height">
                <div class="card h-100 py-3">
                    <div class="ms-2">
                        <img src="../../assets/images/vision.png" class="img-fluid img-thumbnail "
                            style="width: 30px;height: 30px;" alt="" srcset="">
                        <span class="ms-2" id="heading5">Vision</span>
                    </div>
                    <div class="text-start mt-4 px-2 ">
                        <p>
                            We will clearly be #1 trusted brand for preparation, enabling highest number of students to
                            be succeed.
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-10 col-md-4 mt-3  custom-card-height">
                <div class="card h-100 py-3">
                    <div class="ms-2">
                        <img src="../../assets/images/idea-icon.jpg" class="img-fluid img-thumbnail "
                            style="width: 30px;height: 30px;" alt="" srcset="">
                        <span class="ms-2" id="heading5">Our 5 score value</span>
                    </div>
                    <div class="text-start mt-3 p-2 ">
                        <div class="row row-cols-2">
                            <div class="col">
                                <ul>
                                    <li>Student First</li>
                                    <li>Meritocracy</li>
                                    <li>Accountability</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li>Bias for Action</li>
                                    <li>Equality</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--row end-->
        </div>


        <!--Establishment details-->
        <div class="mt-5 mb-5 pb-lg-2">
            <div class="row row-cols-1 row-cols-md-4 text-center align-items-center py-3" id="cdetails">
                <div class="col mb-3 mb-md-0 ">
                    <h5>Established</h5>
                    <h6>2020</h6>
                </div>
                <div class="col mb-3 mb-md-0">
                    <h5>Faculty</h5>
                    <h6>10</h6>
                </div>
                <div class="col  mb-3 mb-md-0">
                    <h5>Student</h5>
                    <h6>500</h6>
                </div>
                <div class="col  mb-3 mb-md-0">
                    <h5>Programes</h5>
                    <h6>25</h6>
                </div>
            </div>
        </div>

        <!--staff details-->
        <!-- <div class="text-start mt-3 ">
            <h4 class="fw-medium">Our Founders</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
        </div>

        <div class="mt-3">
            <div class="row row-cols-1 row-cols-md-3 text-center d-flex justify-content-around align-items-center py-3">
                <div class="col mb-3 mb-md-0 ">
                    <img src="../../assets/images/person-icon.jpg" class="border-rounded" alt="" srcset="" style="width: 50px; height: 50px;" >
                    <h5 class="mt-2">First Name</h5>
                    <h6>Position</h6>
                </div>
                <div class="col mb-3 mb-md-0">
                    <img src="../../assets/images/person-icon.jpg" class="border-rounded" alt="" srcset="" style="width: 50px; height: 50px;" >
                    <h5 class="mt-2">First Name</h5>
                    <h6>Position</h6>
                </div>
                <div class="col  mb-3 mb-md-0">
                    <img src="../../assets/images/person-icon.jpg" class="border-rounded" alt="" srcset="" style="width: 50px; height: 50px;" >
                    <h5 class="mt-2">First Name</h5>
                    <h6>Position</h6>
                </div>
            </div>
        </div> -->

    </section>

</div>
