<div class="container-fluid" style="background-color: #f0f8ff;">
    <div class="container position-relative">
        <div class="row" style="padding: 75px 0px;">
            <div class="col-lg mb-3 mb-lg-0 align-self-center">
                <ng-content select=".quote"></ng-content>
                <ng-content select=".author"></ng-content>
            </div>
            <div class="col-lg-6 text-center py-3">
                <ng-content select=".image"></ng-content>                
            </div>
        </div>
    </div>
</div>