<app-banner>
  <h1 class="quote fw-bold lh-base">A man only learns in two ways, one by reading and the other by association with smart people</h1>
  <div class="author text-center mt-3"><h4 style="color: #0015fb;">- Will Rogers</h4></div>
  <img class="image" src="../../assets/images/japan-flag.jpg" width="75%" alt="">
</app-banner>
<div class="container px-3 px-lg-5 pt-5 pb-4">
  <article>
      <section class="mb-4">
          <h4>SJ (Spoken Japanese)</h4>
          <div class="d-flex mb-3">
              <span class="rounded-pill" id="line"></span>
              <span class="rounded-pill" id="dot"></span>
              <span class="rounded-pill" id="dot"></span>
          </div>
          <p>
              A spoken Japanese course is designed to help individuals improve their conversational Japanese language skills.
              These courses are particularly useful for non-native Japanese speakers who want to enhance their ability to
              communicate effectively in Japanese, whether for professional, educational, or personal reasons.
          </p>
      </section>
      <section class="mb-4">
          <h4>Key points about the SJ</h4>
          <div class="d-flex mb-3">
              <span class="rounded-pill" id="line"></span>
              <span class="rounded-pill" id="dot"></span>
              <span class="rounded-pill" id="dot"></span>
          </div>
          <p>
            Cultural Understanding: Learning Japanese provides insights into Japanese culture, traditions, and way of life. It allows you to better understand the customs, etiquette, and values of Japan.
          </p>

          <p>
            Travel Opportunities: Knowing Japanese can enhance your travel experiences in Japan. It allows you to communicate with locals, read signs and menus, and navigate public transportation more effectively.
          </p>

          <p>
            Business and Career Opportunities: Japan has one of the largest economies in the world, and many multinational companies have business dealings with Japanese firms. Proficiency in Japanese can open up career opportunities in international business, trade, and diplomacy.
          </p>

          <p>
            Job Market: Some industries, such as technology, manufacturing, and finance, have a demand for professionals who can communicate in Japanese. Being bilingual can give you a competitive edge in these fields.
          </p>

          <p>
            Academic Pursuits: Learning Japanese can enable you to study and conduct research in various fields, including Japanese literature, history, and culture.
          </p>

          <p>
            Cultural Engagement: If you have an interest in Japanese literature, anime, manga, or cinema, learning the language allows you to engage with these cultural elements in their original form.
          </p>

          <p>
            Personal Growth: Learning a language is a challenging and rewarding endeavor. It can boost cognitive skills, improve memory, and enhance problem-solving abilities.
          </p>

          <p>
            Networking: Learning Japanese can help you build relationships with Japanese speakers both in your local community and around the world, expanding your personal and professional networks.
          </p>

          <p>
            Global Perspective: Understanding Japanese can contribute to a more global perspective, as it exposes you to different ways of thinking and living.
          </p>

          <p>
            Travel Flexibility: Besides Japan, Japanese is spoken in Japanese communities around the world, including in Hawaii, Brazil, and the United States. Knowing Japanese can enhance your travel experiences in these regions.
          </p>

          <p>
            Satisfaction: Achieving proficiency in a challenging language like Japanese can be personally fulfilling and boost your self-confidence.
          </p>

          <p>
            Communication Skills: Learning Japanese can improve your overall language and communication skills, making you a more effective communicator in general.
          </p>
      </section>
  </article>
</div>
