<app-banner>
    <h1 class="quote fw-bold lh-base">The ability to ask questions is the greatest resource in learning the truth</h1>
    <div class="author text-center mt-3"><h4 style="color: #0015fb;">- C.G. Jung</h4></div>
    <img class="image" src="../../assets/images/faq-1.png" width="100%" alt="">
</app-banner>

<div class="container px-3 px-lg-5 mt-5">

    <section>

        <div class="text-start ms-1">
            <h4 class="fw-medium">Frequently Asked Questions</h4>
            <div class="d-flex mb-3">
                <span class="rounded-pill" id="line"></span>
                <span class="rounded-pill" id="dot"></span>
                <span class="rounded-pill" id="dot"></span>
            </div>
        </div>

        <!-- <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
            fuga esse tempora aperiam blanditiis iste architecto maxime animi veritatis dolorem id exercitationem
            ducimus.</p> -->

        <ul class="list-group mt-3 mb-lg-5">
            <li routerLink="/programs/GRE" class="list-group-item d-flex justify-content-between align-items-start py-2 m-2 me-4 " >
                <div class="ms-lg-5 ps-2  me-auto text-center ">
                    <h5 class="">{{li_1}}</h5>
                </div>
                <span class="me-lg-5"><i class="bi bi-caret-right-fill"></i></span>
            </li>
            <li routerLink="/programs/GRE" class="list-group-item d-flex justify-content-between align-items-start py-2 mt-3 m-2 me-4 ">
                <div class="ms-lg-5 ps-2 me-auto">
                    <h5 class="align-self-center">{{li_2}}</h5>
                </div>
                <span class="me-lg-5"><i class="bi bi-caret-right-fill"></i></span>
            </li>
            <li routerLink="/programs/GMAT" class="list-group-item d-flex justify-content-between align-items-start py-2 mt-3  m-2 me-4 ">
                <div class="ms-lg-5 ps-2 me-auto">
                    <h5 class="align-self-center">{{li_3}}</h5>
                </div>
                <span class="me-lg-5"><i class="bi bi-caret-right-fill"></i></span>
            </li>
            <li routerLink="/programs/GMAT" class="list-group-item d-flex justify-content-between align-items-start py-2 mt-3 m-2 me-4 ">
                <div class="ms-lg-5 ps-2 me-auto  ">
                    <h5 class="align-self-center">{{li_4}}</h5>
                </div>
                <span class="me-lg-5"><i class="bi bi-caret-right-fill"></i></span>
            </li>
            <!-- <li routerLink="/programs/TOEFL" class="list-group-item d-flex justify-content-between align-items-start py-2 mt-3 m-2 me-4 ;">
                <div class="ms-lg-5 ps-2 me-auto ">
                    <h5 class="align-self-center">{{li_5}}</h5>
                </div>
                <span class="me-lg-5"><i class="bi bi-caret-right-fill"></i></span>
            </li> -->
            <!-- <li routerLink="/programs/SAT" class="list-group-item d-flex justify-content-between align-items-start py-2 mt-3 m-2 me-4 ">
                <div class="ms-lg-5 ps-2 me-auto ">
                    <h5 class="align-self-center">{{li_6}}</h5>
                </div>
                <span class="me-lg-5"><i class="bi bi-caret-right-fill"></i></span>
            </li> -->
            <!-- <li routerLink="/programs/SAT" class="list-group-item d-flex justify-content-between align-items-start py-2 mt-3 m-2 me-4 mb-5 ">
                <div class="ms-lg-5 ps-2 me-auto  ">
                    <h5 class="align-self-center">{{li_7}}</h5>
                </div>
                <span class="me-lg-5"><i class="bi bi-caret-right-fill"></i></span>
            </li> -->
        </ul>


    </section>

    <!--container end-->
</div>
